<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8" th:remove="tag">
</head>
<body class="">
	
	<!-- コンテンツの表示 -->
	<div layout:fragment="content">
		<main class="offcanvas-outside bg-light">
			<div class="container-fluid"></div>
			
			<!-- トグルボタン -->
			<div th:replace="~{fragments/sidebar :: toggler}"></div>
			
			<div class="row">
				<div class="col">
				
					<div class="card shadow">
						<div class="card-header">
							<h6 class="text-navy my-2">社員登録</h6>
						</div>
						<div class="card-body">
							<form th:action="@{/process}" th:object="${employee}" method="post">
								<input type="hidden" th:field="*{id}">
								<div class="mb-3">
									<label for="name">名前</label>
									<input type="text" class="form-control"
										th:errorclass="is-incalid" th:field="*{name}">
									<div class="incalid-feedback" th:errors="*{name}"></div>
								</div>
								
							</form>
						</div>
					</div>
				
				</div>
			</div>
		</main>
	</div>
	
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>